/* common styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 去掉默认 margin/padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* 去除列表样式 */
ul,
ol {
  list-style: none;
}

/* 默认字体等 */
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

/* 图片默认处理 */
img {
  max-width: 100%;
  display: block;
}
